html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    margin: 0 auto;
    padding: 3em;

    background-color: black;  
}

form,
textarea, 
input, 
button,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}



img {
    width: 30%;
}

h1, h2 {
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    
}



.input-container{
    display: flex;
    padding: 0.5em 0;
}

.from {
    width: 50%;
    margin-right: 0.25em;
}
.to{
    width: 50%;
    margin-left: 0.25em;
}

input{
    
}

button{
    
}

.endorsment-div {
    
    
}
p{
    background-color: white;
    margin: 0;
    padding: 1em;
}